.portofolio-card-speaker-card {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.portofolio-card-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  min-width: 300px;
  max-height: 313px;
  min-height: 313px;
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-end;
}
.portofolio-card-image {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.portofolio-card-see-project-container {
  flex: 1;
  width: 100%;
  cursor: pointer;
  display: flex;
  opacity: 0;
  z-index: 1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(.jpg);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
}
.portofolio-card-see-project-container:hover {
  opacity: 1;
}
.portofolio-card-first-name {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}







.home-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image {
  width: var(--dl-size-size-xlarge);
  align-self: center;
  object-fit: cover;
}
.home-hero {
  height: 1022px;
  position: relative;
  padding-top: 4px;
  padding-bottom: var(--dl-space-space-unit);
}
.home-max-width {
  margin-top: var(--dl-space-space-threeunits);
}
.home-heading-container {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  text-align: center;
  font-family: Georgia;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text01 {
  color: var(--dl-color-scheme-black);
  font-size: 18px;
  text-align: justify;
  font-family: DM Sans;
  line-height: 1.44;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-gallery {
  width: 100%;
  display: flex;
  grid-gap: 20px;
  align-items: stretch;
}
.home-container1 {
  width: 50%;
  display: flex;
  grid-gap: 20px;
  flex-direction: column;
}
.home-image1 {
  width: 416px;
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-image2 {
  width: 405px;
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-image3 {
  flex: 1;
  width: 50%;
  height: 591px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-services {
  display: flex;
  padding-top: 0px;
  flex-direction: column;
  padding-bottom: 28px;
  background-color: var(--dl-color-scheme-lightbrown);
}
.home-max-width1 {
  flex-direction: column;
}
.home-heading-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: space-between;
}
.home-text-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text03 {
  text-align: justify;
}
.home-link {
  text-decoration: none;
}
.home-portofolio {
  padding-top: 36px;
  padding-bottom: var(--dl-space-space-unit);
}
.home-max-width2 {
  flex-direction: column;
}
.home-text-container1 {
  height: 471px;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  flex-direction: column;
}
.home-text25 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text26 {
  color: var(--dl-color-scheme-black80);
  text-align: justify;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text42 {
  color: var(--dl-color-scheme-black80);
  line-height: 26px;
}
.home-tab-selector-header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: center;
}
.home-link1 {
  margin-right: 30px;
  text-decoration: none;
}
.home-link2 {
  margin-right: 30px;
  text-decoration: none;
}
.home-link3 {
  margin-right: 30px;
  text-decoration: none;
}
.home-tab-selector-cards-container {
  width: 100%;
  display: grid;
  grid-row-gap: 40px;
  grid-column-gap: 20px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
.home-about {
  padding-top: 19px;
  padding-bottom: 20px;
  background-color: var(--dl-color-scheme-lightbrown);
}
.home-max-width3 {
  flex-direction: row;
  justify-content: space-between;
}
.home-text-container2 {
  flex: 1;
  width: 40%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text44 {
  width: 478px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text45 {
  color: var(--dl-color-scheme-black80);
  text-align: justify;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text46 {
  color: var(--dl-color-scheme-black80);
  text-align: justify;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text47 {
  color: var(--dl-color-scheme-black80);
  text-align: justify;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text49 {
  color: var(--dl-color-scheme-black80);
  line-height: 26px;
}
.home-image4 {
  flex: 1;
  width: 512px;
  height: 578px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-iframe {
  width: 1051px;
  height: 646px;
}
@media(max-width: 991px) {
  .home-heading-container {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .home-gallery {
    flex-direction: column;
  }
  .home-container1 {
    width: 100%;
    align-items: stretch;
  }
  .home-tab-selector-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .home-max-width3 {
    flex-direction: column;
  }
  .home-text-container2 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-image-container {
    width: 100%;
  }
  .home-image4 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .home-text {
    font-size: 48px;
  }
  .home-image3 {
    width: 100%;
  }
  .home-tab-selector-cards-container {
    grid-template-columns: 1fr;
  }
}
